[user]
	name = Remco Stoeten
	email = remcostoeten@hotmail.com
	signingkey = D280AE96E2D747D4893AB9D79296FB6A02A3E6F9

[init]
	defaultBranch = master

[core]
	editor = nvim
	autocrlf = input
	whitespace = fix

[pull]
	rebase = false

[push]
	autoSetupRemote = true
	default = simple
	followTags = true

[fetch]
	prune = true
	pruneTags = true

[rebase]
	autoStash = true

[commit]
	gpgsign = false

[tag]
	gpgsign = false
	sort = version:refname

[gpg]
	format = openpgp

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = green
	remote = cyan

[color "status"]
	added = green
	changed = yellow
	untracked = red

[diff]
	color = auto
	wordDiff = color

[merge]
	conflictstyle = diff3
	tool = nvim

[credential]
	helper = store
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
